{% extends 'base.html' %}
{% load static %}
{% block head %}
    <div class="row bg-info" style="height: 10vh">
        <div class="col-sm-4 " style="height: 100%;">
            <a class="text-dark" href="{% url 'index' %}"><h1 class="mt-3" align="center">ASK Pupkin</h1></a>
        </div>
        <div class="col-sm-4 " style="height: 100%;">
            <nav class="navbar navbar-light  mt-3">
                <form class="form-inline" style="width: 100%; flex-wrap: nowrap">
                    <input class="form-control mr-sm-2" style="width:100%" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-5 my-sm-0 bg-warning" type="submit"
                            style="color:#942973;">Ask!
                    </button>
                </form>
            </nav>
        </div>
        <div class="col-sm " style="height: 100%;">
            <div class="row " style="padding-left: 100px; margin-top: 2.5rem">
                <div>
                    <a class="ml-3 text-warning" href="{% url 'login' %}">log in</a>
                </div>
                <div>
                    <a class="ml-3 text-warning" href="{% url 'register' %}">register</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block content %}
    <!-- Левая часть -->
    <div class="col-sm-8 border" style="padding-left: 120px;">
        <h1 class="text-dark ml-4 mt-5">New Questions</h1>
        <!-- Первая  -->
        <div class="row ml-4 mt-6" style="width:100%">
            <div>
                <h4>Title</h4>
            </div>
            <div class="ml-5" style="width:70%">
                <input placeholder="How to build a moon park?" style="width:100%">
            </div>
        </div>
        <!-- Вторая-->
        <div class="row ml-4 mt-6" style="width:100%">
            <div>
                <h4>Text</h4>
            </div>
            <div class="ml-5" style="width:70%; ">
                        <textarea rows="15" cols="87" name="text" placeholder="Really, how ?
Have no idea about it">
                        </textarea>
            </div>
        </div>
        <!-- -->

        <div class="row ml-4 mt-6" style="width:100%">
            <div>
                <h5>Tags</h5>
            </div>
            <div class="ml-5" style="width:71%; ">
                <input type="text" placeholder="black-jack" style="width:100%;">
            </div>
        </div>
        <!-- Кнопка  -->
        <div class="mt-4" style="margin-left:7rem">
            <button class="btn btn-outline-success my-sm-0">Ask</button>
        </div>
    </div>
{% endblock %}
