{% extends 'ask.html' %}
{% block content %}
    <!-- Левая часть -->
    <div class="col-sm-8 border" style="padding-left: 120px;">
        <h1 class="mt-4 ml-4">Registration</h1>
        <p class="ml-4 mt-3" style="color:red;">Sorry, this email address already registered! </p>
        <!-- Login  -->
        <div class="row mt-3 ml-4">
            <div>
                Login
            </div>
            <div style="padding-left: 101px">
                <input placeholder="dr_pepper">
            </div>
        </div>
        <!-- Email  -->
        <div class="row mt-3 ml-4">
            <div>
                Email
            </div>
            <div style="padding-left: 100px">
                <input placeholder="dr.pepper@mail.ru">
            </div>
        </div>
        <!--NickName-->
        <div class="row mt-3 ml-4">
            <div>
                NickName
            </div>
            <div style="padding-left: 66px">
                <input placeholder="Dr. Pepper">
            </div>
        </div>
        <!--Password-->
        <div class="row mt-3 ml-4">
            <div>
                Password
            </div>
            <div style="padding-left: 70px">
                <input type="password" placeholder="********">
            </div>
        </div>
        <div class="row mt-3 ml-4">
            <div>
                Repeat password
            </div>
            <div style="padding-left: 16px">
                <input type="password" placeholder="********">
            </div>
        </div>
        <!--Avatar-->
        <div class="row mt-3 ml-4">
            <div>
                Upload avatar
            </div>
            <div class=" " style="padding-left:40px">
                <input type="" style="width:130px" placeholder="c:\avatar.png">
                <button class="btn btn-outline-success my-sm-0" style="padding-top: 0.2rem">choose</button>
            </div>
        </div>
        <!-- Кнопка -->
        <div class="mt-4" style="padding-left:165px">
            <button class="btn btn-outline-success my-sm-0">Register!</button>
        </div>
    </div>
{% endblock %}