{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="col-sm-8 border" style="padding-left: 120px">
        <ul class="nav mx-3 mt-4">
            <li class="nav-item">
                <h1 class="text-dark ">Settings:</h1>
            </li>
            <li class="nav-item ml-3">
                <h1><a>Dr. Pepper</a></h1>
            </li>
        </ul>
        <!-- Первая  -->
        <div class="row mt-5 mx-3">
            <div class="mt-2">
                Login
            </div>
            <div style="padding-left: 135px">
                <input placeholder="dr_pepper">
            </div>
        </div>
        <!-- Вторая  -->
        <div class="row mt-3 mx-3">
            <div class="mt-2">
                Email
            </div>
            <div style="padding-left: 134px;">
                <input placeholder="dr_pepper@mail.ru">
            </div>
        </div>
        <!-- Третья  -->
        <div class="row mt-3 mx-3">
            <div class="mt-2">
                NickName
            </div>
            <div style="padding-left: 100px">
                <input placeholder="Dr_Pepper">
            </div>
        </div>
        <!-- Перех  -->
        <div class="row mt-3 mx-3" style="">
            <div class="mt-2">
                Upload avatar
            </div>
            <div style="padding-left: 72px">
                <div class="mt-2">
                    <img src="image.jpeg" alt="альтернативный текст" class="rounded ml-1" width="80" height="80">
                </div>
                <div class="mt-3 " style="padding-left:3px">
                    <input type="" style="width:130px" placeholder="c:\avatar.png">
                    <button class="btn btn-outline-success my-sm-0" style="padding-top: 0.2rem">choose</button>
                </div>
            </div>
        </div>
        <div class="mt-3" style="padding-left: 190px">
            <button class="btn btn-outline-success my-sm-0">Save</button>
        </div>
    </div>
{% endblock content %}