{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-8 border" style="padding-left: 120px">
        <ul class="nav mx-3 mt-4">
            <li class="nav-item">
                <h1 class="text-dark ">Tag:</h1>
            </li>
            <li class="nav-item ml-3">
                <h1><a class="text-warning" href="#">{{ tag }}</a></h1>
            </li>
        </ul>
        {% include 'questions_list.html' %}
        {% include 'pagination.html' %}
    </div>
{% endblock %}